.contact-container{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    min-height:100vh; 
    font-family: "Roboto";
}
.contact-content-container{
    width:90%;
    margin: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:10px;
    padding-top:0px;
    margin-top: 90px;
}
@media screen and (min-width:768px){
    .contact-content-container{
        width:85%;
        padding-top:0px;
        margin-top: 170px;
    }
}
@media screen and (min-width:992px){
    .contact-content-container{
        padding-top:0px;
        margin-top: 110px;
    }
}
.contact-section-heading{
    text-align: center;
    font-size:26px;
    color:#494a4d;; 
    margin-bottom:0px;       
}
@media screen and (min-width:768px){
    .contact-section-heading{
        font-size:32px;
    }
}
.contact-section-description{
    font-size:14px;
    color: #616e7c;
    line-height:1.5;
}
@media screen and (min-width:768px){
    .contact-section-description{
        font-size:18px;
    }
}
.details-font{
    font-size:32px;
    font-weight:600;
    color:#55565c;
}
@media screen and (max-width:768px){
    .details-font{
        font-size:22px;      
    }
}
.email-text{
    font-size:16px;
    margin-top:0px;
}
@media screen and (max-width:768px){
    .navigation-buttons-container{
        display:flex;
        flex-direction:column;
    }
}
.contact-section-button{
    border:none;
    outline:none;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    background-color:#398851;
    padding:16px 26px;
    border-radius:12px;
    margin-right:16px;
    margin-bottom:16px; 
}
@media screen and (max-width:768px){
    .contact-section-button{
        font-size:14px;
    }
}